:host {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
}
:host #messages {
    -webkit-flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
}

#input-bar{
    width: 100%;
    overflow: hidden;
}
#input-bar input {
    width: 100%
}
#input-bar div {
    display: block;
    overflow: hidden;
    padding: 0 5px
}
#input-bar button {
    float: right;
}
#input-bar input, #input-bar button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size:30px;
}
